Flask==2.3.3
flask-cors==4.0.0
azure-cognitiveservices-speech==1.31.0
waitress==2.1.2
cachetools==5.3.1
aiohttp
werkzeug==2.3.7
python-dotenv==1.0.0
gunicorn==20.1.0
multidict==6.0.4
async-timeout==3.0.1
attrs>=19.3.0
chardet>=3.0.4,<4.0
typing-extensions>=3.7.4
flask[async]
gevent>=22.10.2
greenlet>=2.0.2
