<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>
    <add key="WSGI_HANDLER" value="app.app" />
    <add key="PYTHONPATH" value="D:\home\site\wwwroot" />
  </appSettings>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="handler.fcgi" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\Python37\python.exe|D:\home\Python37\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  <system.webServer>
    <webSocket enabled="true" />
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%HOME%\Python\python.exe" 
                  arguments="-m gunicorn --config=gunicorn.conf.py application:app"
                  stdoutLogEnabled="true"
                  stdoutLogFile="%HOME%\LogFiles\python.log">
      <environmentVariables>
        <environmentVariable name="PORT" value="9000" />
        <environmentVariable name="PATH" value="%HOME%\Python;%PATH%" />
        <environmentVariable name="PYTHONPATH" value="%HOME%" />
      </environmentVariables>
    </httpPlatform>
    <rewrite>
      <rules>
        <rule name="HTTP to HTTPS redirect" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTPS}" pattern="off" ignoreCase="true" />
          </conditions>
          <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" redirectType="Permanent" />
        </rule>
        <rule name="SSE Rule">
          <match url="stream_transcription" />
          <action type="Rewrite" url="stream_transcription" />
        </rule>
      </rules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" />
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type, Authorization, Accept-Encoding" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="30000000" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
